@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
  font-family: roboto !important;
  font-size: 16px;
}


header {
  height: 420px;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgb(197 148 0 / 59%)
  ),url(../assets/images/bg.jpg) no-repeat 100% 77%;
  padding-bottom: 5%;
}

header .nav_bar{
  height: 70px;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

@media only screen and (max-width: 991px) {
  header .narbar_collapse {
    position: absolute;
      text-align: center;
      background-color: #ffffffbf;
      z-index: 999;
      width: 100%;
      top: 55px;
  }
}


header .title_home{
  color: #343a40;
  font-size: 22px;
  text-decoration: none !important;
}

header .title_home:hover {
  color: #e0a800 !important;
}

header .nav_link{
  font-size: 18px;
  color: #343a40 !important;
}

header .nav_link:hover, .nav_link:active {
  color: #e0a800 !important;
}
header .dropdown_toggle{
  color: #343a40 !important;
  /* padding-top: 10.5px !important; */
  font-size: 18px;
}

header .dropdown_toggle:hover{
  border-color:#e0a800 ;
}
header .dropdown_toggle:focus{
  box-shadow: none;
  border-color:#e0a800 ;
}

/* header .numberCircle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 2px;
  background: #ffc107;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 2px;
  right: 139px;
} */

header .box-text {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  height: 250px;
  margin-top: 5%;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  header .box-text{
    height: 290px !important;
  }

  header .title_box-text{
    font-size:40px !important;
  }
  
  header .text_box-text{
    font-size:16px !important;
  }
}

@media only screen and (max-width: 991px) {
  header .title_box-text{
    font-size:40px !important;
  }
  
  header .text_box-text{
    font-size:16px !important;
  }
}

@media only screen and (max-width: 487px) {
  header .title_box-text{
    font-size:36px !important;
  }
  
  header .text_box-text{
    font-size:12px !important;
  }

}

@media only screen and (max-width: 385px) {
  header .title_box-text{
    font-size:31px !important;
  }
  
}
header .title_box-text{
  font-size:50px;
  font-weight: 600;
}

header .text_box-text{
  font-size:22px;
}

header .btn_box-text{
  display: block;
  margin: 0 auto;
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: #fff;
}


main .title_main {
  margin: 2% auto;
  color: #fd7e14;
  text-align: center;
  border-bottom: 2px solid;
  width: 30%;
  font-weight: 600;
} 

main .pagination_box{
  display: flex;
  margin-top: 1%;
  justify-content: center;
  
}

main .pagination_box button{
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  background-color:  #fd7e14;
  margin: 2px;
}

main .pagination_box button:hover{
  color: #fd7e14;
  background-color: #e8e8e8;
}

main .pagination_box button:focus{
  border: 2px solid #fd7e14;
  outline: none !important;
  background-color: #e8e8e8;
  color: #fd7e14;
}

main .pagination_box button:active{
  border: 2px solid #fd7e14;
  outline: none !important;
  background-color: #e8e8e8;
  color: #fd7e14;
}

main .box_card {
  margin-bottom: 30px;
  border: unset;
  border-radius: unset;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
main .box_image_item {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  box-shadow: 4px 7px 7px 0 rgba(0, 0, 0, 0.05);
}
main .title_item {
  text-transform: capitalize;
  text-decoration: none;
  color: #191919;
  font-family: 'Bebas Neue';
  font-size: 18px;
  max-width: 231px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
main .title_item:hover {
  color: #ea8025;
  text-decoration: none;
  transition: 0.5s;
}
main .text_item {
  font-size: 22px;
  font-family: 'Bebas Neue';
  color: #ea8025;
}
main .btn_button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #ea8025;
  padding: 6px 15px;
  background-color: #ea8025;
  border-radius: unset;
}
main .btn_button:hover {
  position: relative;
  background: transparent;
  color: #ea8025;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


