.title_profile{
    display: inline-block;
    margin: 2% auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:  #333;
    width: 100%;
    font-size: 40px;
}

.title_profile:hover {
    color: #ea8025;
    text-decoration: none;
    transition: 0.5s;
  }


.content_img {
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 30px;
}
div.col-sm-6.box-img {
    width: 100%;
    height: 450px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.content_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}

@media only screen and (max-width: 487px) {
   .content_box{
       margin-top: 6%;
   }
}
.content_box .title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 4px solid #e67d23;
    text-align: center;
}
.content_box .text {
    font-size: 30px;
    color: #ea8025;
}
.content_box .btn_button {
    font-size: 16px;
    font-weight: 700;
    width: 190px;
    color: #fff;
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    border: 2px solid #ea8025;
    padding: 6px 15px;
    background-color: #ea8025;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    border-radius: unset;
}
.content_box .btn_button:hover {
    position: relative;
    background: transparent;
    color: #ea8025;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.content_box .delivery_hotline {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .delivery_hotline{
        font-size: 13px !important;
    }
 }
.content_box .delivery_hotline a {
    color: #ea8025;
}



